/* Impostupzioni generali del corpo della pagina */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  /* Sfondo gradiente */
  color: white;
  overflow: hidden;
}

/* Contenitore principale */
.container {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.container2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.container3 {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  /* Posiziona gli elementi verticalmente */
  justify-content: flex-start;
  /* Allinea gli elementi verso l'alto */
  align-items: center;
}

.selectionBox{
  width: 80%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left:40px;
}
.selection-container {
  margin-left: 2px;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 10px;
}

/* Titolo della pagina */
.title {
  font-size: 3.0rem; 
  font-weight: bold; 
  letter-spacing: 2px; /* Aumenta la spaziatura tra le lettere */
  color: #ffffff; /* Colore del testo */
  text-align: center; /* Centra il titolo */
  margin-top: 20px; /* Spaziatura superiore */
  margin-bottom: 10px;
  /* Spaziatura inferiore */
}

.project-description {
  font-size: 1.2rem; /* Dimensione del font per il testo descrittivo */
  color: white; /* Colore del testo (bianco) */
  text-align: center; /* Allinea il testo al centro */
  margin-top: 10px; /* Distanza dal titolo */
  padding: 0 20px; /* Padding orizzontale */
  line-height: 1.6; /* Aumenta la distanza tra le righe per migliore leggibilità */
}

#actionButtons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#bpmToggleBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


/* container della pagina 1*/
#waveContainer {
  width: 100%;
  /* Occupa tutta la larghezza del contenitore padre */
}

/* Stile della waveform */
#waveform {
  height: 150px;
  border-radius: 8px;
  background-color: linear-gradient(135deg, #1e3c72, #2a5298);
}

.recordBtn{
  background-color: #cd2c16;
  margin: 10px;
  margin-top: 0;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recordBtn:hover{
  background-color: #ea6553;
}

/* Stile per il pulsante di riproduzione */
.styled-button {
  margin: 10px;
  margin-top: 0;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Transizione del colore di sfondo */
}

.styled-button:hover {
  background-color: #007bb5;
}

#backBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.genres,
.loop-length, .keys, .onset-algorythm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

/* Pulsante selezionabile */
.btn {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 2px solid #444;
  padding: 8px 15px;
  font-size: 11px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Effetto hover */
.btn:hover {
  background-color: #444;
}

/* Stato selezionato */
.btn.selected {
  background-color: #4CAF50;
  color: #fff;
  border-color: #4CAF50;
}


h1 {
  margin: 10px 0;
  /* Riduce la distanza tra le righe */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  /* Riduce la dimensione del titolo */
  text-align: center;
}

.wavecontainer {
  width: 95%;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.waveform {
  width: 100%;
  height: 100%;
  pointer-events: none; 
  }

.slidercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.label,
.number {
  text-align: center;
  /* Allinea il testo al centro */
  font-size: 12px;
  /* Regola la dimensione del testo */
  white-space: nowrap;
  /* Evita che il testo vada a capo */
}

.slider {
  transform: rotate(270deg);
  /* Rotazione dello slider per la disposizione verticale */
  height: 20px;
  width: 60px;
}

.loading-text {
  color: white;
  /*mix-blend-mode: difference; this will change color of loading text*/
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 3px;
  padding: 0;
  letter-spacing: 5px;
}


.bar {
  position: relative;
  top: 0px;
  left: 0%;
  max-width: 300px;
  width: 100%;
  height: 30px;
  background: violet;
  /* Colore iniziale */
  background-size: 200% 100%;
  border-radius: 10px;
  box-shadow: 0 0 3px;
  margin-top: 80px;
}

.animated {
  animation: gradientAnimation 1.5s linear forwards; /* Aggiungi l'animazione */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
    background: violet; /* Colore iniziale */
  }

  100% {
    background-position: 200% 0; /* Il gradiente si sposterà da sinistra a destra */
    background: purple; /* Colore finale */
  }
}

/* Use media queries for responsiveness */
@media (max-width: 768px) {
  .div {
    width: 500px;
    /* Adjust width for smaller screens */
    left: 10%;
  }
}

.result-container {
  margin-top: 60px;
  padding: 20px;
  background: linear-gradient(135deg, rgba(30, 60, 114, 0.8), rgba(42, 82, 152, 0.8));
  border-radius: 10px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
  opacity: 0.95;
  transition: all 0.3s ease-in-out;
}

.result-container p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.6;
}

.info-btn {
  width: 22px;
  /* Dimensione del cerchio */
  height: 22px;
  background-color: #007bff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Aggiunge un'ombra per un effetto 3D */
  transition: transform 0.2s, box-shadow 0.2s;
  /* Aggiunge un effetto di animazione */
  line-height: 22px;
}

.info-btn:hover {
  transform: scale(1.1);
  /* Ingigantisce leggermente il pulsante al passaggio del mouse */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  /* Intensifica l'ombra */
}


#bpmInfoContainer {
  display: none;
  grid-template-columns: 1fr 1fr;
  /* Due colonne di larghezza uguale */
  grid-template-rows: auto auto 1fr;
  /* Tre righe: titolo + contenuti */
}

#keyInfoContainer {
  display: none;
  grid-template-columns: auto auto;
  /* Due colonne di larghezza uguale */
  grid-template-rows: auto 1fr;
  /* La prima riga ha altezza automatica, la seconda prende tutto lo spazio rimanente */
}

#onsetInfoContainer{
  display: none;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

/* Contenitore principale */
.infoContainer {
  display: grid;
  gap: 20px;
  /* Spazi tra gli elementi */
  position: relative;
  max-width: 90%;
  height: 90vh;
  /* Altezza contenuta all'interno dello schermo */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  overflow: auto;
  /* Aggiunge uno scroll se necessario */
}

/* Pulsante "Torna Indietro" */
.backBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

/* Titolo centrato nella prima riga */
.titleInfo {
  grid-column: 1 / 3;
  /* Occupa entrambe le colonne */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
/* Paragrafi */
.paragraph {
  max-width: 90%;
  /* Imposta la larghezza massima */
  font-size: 16px;
  color: #1b1093;
  line-height: 1.5;
  text-align: left;
  border: 1px solid #1b1093;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.paragraph_onset{
  text-align: center;
  display: flex;
  align-items: center;
}
.paragraph ul {
  list-style-type: disc;
  /* Tipo di elenco (punti) */
  margin: 0;
  padding-left: 20px;
  /* Spazio prima dei punti */
  color: inherit;
  /* Mantiene il colore del paragrafo */
}
.paragraph li {
  margin-bottom: 5px;
  /* Spaziatura tra gli elementi */
  line-height: 1.5;
  /* Altezza delle righe */
}
/* Immagini */
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  max-width: 100%;
  /* Adatta l'immagine alla dimensione della colonna */
  height: auto;
  border: 1px solid #1b1093;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Posizionamento preciso delle immagini */
.image:nth-of-type(2) {
  grid-column: 2;
  /* Seconda colonna */
  grid-row: 2;
  /* Seconda riga */
}
.image:nth-of-type(1) {
  grid-column: 1;
  /* Prima colonna */
  grid-row: 3;
  /* Terza riga */
}
.secondaryKeyContainer {
  overflow-y: auto;
  /* Abilita lo scroll verticale */
}

.vertical-text{
  margin-right: 30px;
}